<a href="https://colab.research.google.com/github/cristiandarioortegayubro/base/blob/main/colab/Copia_de_pd_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/250px-Pandas_logo.svg.png)

# **Bibliotecas necesarias**

In [1]:
!pip install plotly --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Collecting plotly
  Downloading plotly-5.10.0-py2.py3-none-any.whl (15.2 MB)
     |████████████████████████████████| 15.2 MB 14.3 MB/s
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
Successfully installed plotly-5.10.0

## **Para análisis de datos**

In [2]:
import pandas as pd
import numpy as np

## **Para gráficos**

https://plotly.com/python/

In [3]:
import plotly.express as px

# **Obtención de datos**

In [4]:
datos = "https://raw.githubusercontent.com/cristiandarioortegayubro/base/main/dataset/dfresults.csv"

# **Creación del dataframe**

In [5]:
df = pd.read_csv(datos)
df

,Año,Estado,Intencion_Voto,Diferencia,Gobernante,Reelige,Ganador,Cod_Estado
0,1976,California,42.797994,-3.270222,republican,1,republican,CA
1,1980,California,28.010388,-14.065118,democrat,1,republican,CA
2,1984,California,38.947686,-16.310839,republican,1,republican,CA
3,1988,California,42.883798,-8.033824,republican,0,republican,CA
4,1992,California,48.764566,17.150517,republican,1,democrat,CA
...,...,...,...,...,...,...,...,...
487,1992,Wyoming,30.408792,-3.954561,republican,1,republican,WY
488,1996,Wyoming,37.603149,-7.238639,democrat,1,republican,WY
489,2000,Wyoming,29.687844,-29.012408,democrat,0,republican,WY
490,2008,Wyoming,33.176088,-26.872840,republican,0,republican,WY
491,2016,Wyoming,22.079570,-37.877420,democrat,0,republican,WY

In [6]:
type(df)

pandas.core.frame.DataFrame

## **Visualizacion**

### **Encabezado ```head()```**

In [7]:
df.head()

,Año,Estado,Intencion_Voto,Diferencia,Gobernante,Reelige,Ganador,Cod_Estado
0,1976,California,42.797994,-3.270222,republican,1,republican,CA
1,1980,California,28.010388,-14.065118,democrat,1,republican,CA
2,1984,California,38.947686,-16.310839,republican,1,republican,CA
3,1988,California,42.883798,-8.033824,republican,0,republican,CA
4,1992,California,48.764566,17.150517,republican,1,democrat,CA

### **Indice ```index``` y columnas ```columns```**

In [8]:
df.index

RangeIndex(start=0, stop=492, step=1)

In [9]:
df.columns

Index(['Año', 'Estado', 'Intencion_Voto', 'Diferencia', 'Gobernante',
       'Reelige', 'Ganador', 'Cod_Estado'],
      dtype='object')

### **Valores en series ```unique()``` - ```nunique()``` - ```value_counts()```**

In [10]:
df.Estado.unique()

array(['California', 'Colorado', 'Connecticut', 'Delaware', 'Georgia',
       'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Missouri',
       'Nebraska', 'New Jersey', 'New York', 'North Carolina', 'Ohio',
       'Oregon', 'South Carolina', 'South Dakota', 'Utah', 'Washington',
       'Alabama', 'Arizona', 'Arkansas', 'Florida', 'Hawaii', 'Louisiana',
       'Mississippi', 'Nevada', 'New Hampshire', 'North Dakota',
       'Oklahoma', 'Pennsylvania', 'Rhode Island', 'Tennessee', 'Texas',
       'Virginia', 'West Virginia', 'Wisconsin', 'Kentucky', 'New Mexico',
       'Alaska', 'Montana', 'Vermont', 'Wyoming'], dtype=object)

In [11]:
df.Estado.nunique()

50

In [12]:
df.Estado.value_counts()

California        11
Massachusetts     11
Colorado          11
Oregon            11
Ohio              11
North Carolina    11
New York          11
New Jersey        11
Nebraska          11
Missouri          11
Minnesota         11
Washington        11
Maryland          11
Connecticut       11
Kansas            11
Iowa              11
Illinois          11
New Hampshire     10
Texas             10
Michigan          10
Virginia          10
Florida           10
West Virginia     10
Wisconsin         10
Alabama           10
Utah              10
Pennsylvania      10
South Dakota      10
South Carolina    10
Georgia           10
Indiana           10
Maine             10
Rhode Island      10
Kentucky           9
New Mexico         9
Tennessee          9
Louisiana          9
Oklahoma           9
North Dakota       9
Nevada             9
Hawaii             9
Arkansas           9
Arizona            9
Delaware           9
Idaho              9
Mississippi        8
Montana            8
Vermont            8
Alaska             7
Wyoming            6
Name: Estado, dtype: int64

In [13]:
df.Gobernante.unique()

array(['republican', 'democrat'], dtype=object)

In [14]:
df.Gobernante.nunique()

2

In [15]:
df.Gobernante.value_counts()

republican    254
democrat      238
Name: Gobernante, dtype: int64

### **Resumen estadistico descriptivo ```describe()```**

In [16]:
round(df.describe(),2)

           Año  Intencion_Voto  Diferencia  Reelige
count   492.00          492.00      492.00   492.00
mean   1997.59           42.03       -2.69     0.60
std      12.03            8.01       14.52     0.49
min    1976.00           17.45      -46.97     0.00
25%    1988.00           36.79      -12.56     0.00
50%    1996.00           41.95       -2.23     1.00
75%    2008.00           47.49        7.48     1.00
max    2016.00           61.42       32.56     1.00

In [17]:
df.describe(include = "object")

            Estado  Gobernante     Ganador Cod_Estado
count          492         492         492        492
unique          50           2           2         50
top     California  republican  republican         CA
freq            11         254         289         11

### **Resumen del dataframe ```info()```**

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 492 entries, 0 to 491
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Año             492 non-null    int64
 1   Estado          492 non-null    object
 2   Intencion_Voto  492 non-null    float64
 3   Diferencia      492 non-null    float64
 4   Gobernante      492 non-null    object
 5   Reelige         492 non-null    int64
 6   Ganador         492 non-null    object
 7   Cod_Estado      492 non-null    object
dtypes: float64(2), int64(2), object(4)
memory usage: 30.9+ KB

# **Plotly**

https://plotly.com/python/

In [19]:
df.head()

,Año,Estado,Intencion_Voto,Diferencia,Gobernante,Reelige,Ganador,Cod_Estado
0,1976,California,42.797994,-3.270222,republican,1,republican,CA
1,1980,California,28.010388,-14.065118,democrat,1,republican,CA
2,1984,California,38.947686,-16.310839,republican,1,republican,CA
3,1988,California,42.883798,-8.033824,republican,0,republican,CA
4,1992,California,48.764566,17.150517,republican,1,democrat,CA

## **Histograma**

https://plotly.com/python/histograms/

## **Barras**

https://plotly.com/python/bar-charts/

## **Strip**

https://plotly.com/python/strip-charts/

## **Sunburst**

https://plotly.com/python/sunburst-charts/

## **Treemap**

https://plotly.com/python/treemaps/

## **Choropleth**

https://plotly.com/python/mapbox-county-choropleth/

# **Más practica... Sueldos por roles en tecnologia...**

In [20]:
salarios = "https://raw.githubusercontent.com/cristiandarioortegayubro/base/main/dataset/salary.csv"

## **Ej.01 Crear el dataframe...**

**Crear el dataframe y ver el tamaño del mismo...**

## **Ej.02 Filtrar solo salarios en dolares...**

**De todo el conjunto de datos, solo visualizar los que tienen salarios en dolares...**

## **Ej.03 Resumen ```describe()```...**

## **Ej.04 Grafico de dispersion ```px.scatter()```...**

**Hacer un grafico de dispersión entre la variable salario en dolares y tamaño de la compañia...**

**Hacer un grafico de dispersión entre la variable salario en dolares y el nivel de experiencia...**

## **Ej.05 Sunburst ```px.sunburst()```...**

![nenunenu](https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/60/apple/124/smiling-face-with-smiling-eyes_1f60a.png)